[submodule "lib/aig"]
	path = lib/aig
	url = https://github.com/MyskYko/aig.git
[submodule "lib/argparse"]
	path = lib/argparse
	url = https://github.com/p-ranav/argparse.git
[submodule "test/mcnc-comb"]
	path = test/mcnc-comb
	url = git@github.com:MyskYko/mcnc-comb.git
[submodule "test/mcnc-pla"]
	path = test/mcnc-pla
	url = git@github.com:MyskYko/mcnc-pla.git
[submodule "test/oldbdd"]
	path = test/oldbdd
	url = git@github.com:MyskYko/bdd.git
[submodule "test/iwls2022"]
	path = test/iwls2022
	url = git@github.com:MyskYko/iwls2022.git
